[app]

# 1. BASIC INFO
title = DemonZ
package.name = demonzgame
package.domain = org.demonz

# 2. FILES
source.dir = .
source.include_exts = py,png,jpg,kv,atlas,ogg

# 3. REQUIREMENTS (Added pillow for images)
requirements = python3,kivy==2.3.0,pillow

# 4. ANDROID SPECIFIC
version = 0.1
orientation = landscape
fullscreen = 1

# API Settings (Standard for 2025)
android.api = 34
android.minapi = 21
android.ndk = 25b
android.accept_sdk_license = True
android.archs = arm64-v8a

# 5. BUILD SETTINGS
# Use private storage so the app doesn't need strict permissions
android.private_storage = True

[buildozer]
log_level = 2
warn_on_root = 1